<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Drip Kustom</title>
</head>
<body> -->
    <%- include ('partials/header') -%>
    <main class="overflow-hidden">
        <section class="flex flex-col items-center relative">
         
            <div class="w-[90%] mt-8">
                <h1 class="font-bold text-lg md:text-3xl lg:text-5xl md:mt-6 mb-2">THANK YOU FOR YOUR ORDER!</h1>

                <div class="mt-3 md:mt-6 mb-2">
                    <div class="flex flex-col py-5 gap-y-4">
                        
                        <span>
                            <strong class="mr-2">Order Number:</strong><span><%= order.orderNumber %></span>
                        </span>
                        <span>
                            <strong class="mr-2">Selected PaymentMethod:</strong><span><%= order.selectedPaymentMethod %></span>
                        </span>
                        <span>
                            <strong class="mr-2">Payment reference:</strong><span><%= order.reference %></span>
                        </span>
                        <span>
                            <strong class="mr-2">Total Amount:</strong><span><%= order.totalAmount %></span>
                        </span>
                        <ul>
                            <strong class="mr-2">Items:</strong>
                            <% order.items.forEach(function(item) { %>
                                <li>
                                    <span><%= item.name %> (size: <%= item.size %>) x<%= item.quantity %></span>
                                </li>
                            <% }); %>
                        </ul>
                        <span>
                            <strong class="mr-2">Order Date:</strong><span><%= order.orderDate %></span>
                        </span>
                
                    </div>  
                </div>
                <a href="/#shoesCollection" >
                    <button class="bg-gray-800 py-2 md:py-3 px-3 md:px-4 text-white font-semibold rounded-md mt-3 md:mt-6">Continue Shopping</button>               
                </a>
            </div>

        </section>
    </main>
    <%- include ('partials/footer') -%>
</body>
</html>